{
  "endOfLine": "lf",
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "indent": 2,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "arrowParens": "always",
  "orderedImports": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
